[submodule "pcb/Keebio-Parts.pretty"]
	path = pcb/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "pcb/keebio-components"]
	path = pcb/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "pcb/Switch_Keyboard"]
	path = pcb/Switch_Keyboard
	url = https://github.com/perigoso/Switch_Keyboard.git
[submodule "pcb/KiCad-RP-Pico"]
	path = pcb/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico.git
[submodule "cad/lib/dimensional-drawings"]
	path = cad/lib/dimensional-drawings
	url = https://github.com/pwpearson/dimensional-drawings.git
[submodule "cad/lib/OpenSCAD_3D_Text_Generator"]
	path = cad/lib/OpenSCAD_3D_Text_Generator
	url = https://github.com/pwpearson/OpenSCAD_3D_Text_Generator.git
